.col-9 creature {
  position: absolute;
}

.jumbotron {
  border-style: solid;
  border-color: chartreuse;
  background-color: rgb(200, 252, 142)
}

.masthead {
  padding-bottom: 10px;
}

.work {
  width: 340px;
  height: 290px;
  margin-bottom: 40px;

}

h3 {
  z-index: 50px; 
}

h1 {
  margin-bottom: 10px;
  font-weight: bolder;
}

body {
  background-color: rgba(87, 133, 97, 0.877);
  background-image: url(../images/seemless.jpg) 

}

textarea.form-control {
  background-color: rgb(200, 252, 142);
  border-style: solid;
  border-color: rgb(58, 197, 39)
}

.form-control {
  background-color: rgb(200, 252, 142);
  border-style: solid;
  border-color: rgb(58, 197, 39)
}

.form-control:hover {
  background-color: chartreuse;
}

.title {
  text-align: center;
  background-color: olivedrab;

  border-style: solid;
  border-color: rgb(58, 197, 39)
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
  color: chartreuse;
}

label {
  font-weight: bolder;
  font-size: 28px;
}

#megawesome {
  position: relative;
  left: 70px;
}

#spaceskull {
  position: relative;
  top: 92px;
  left: 15px;
}


