.col-9 creature {
  position: absolute;
}

.masthead {
  padding-bottom: 10px;
}

.work {
  width: 340px;
  height: 300px;
  margin-bottom: 40px;
}

h3 {
  z-index: 50px;
}

h1 {
  margin-bottom: 10px;
}

body {
  background-color: rgba(174, 177, 180, 0.877)
}