.col-9 creature {
  position: absolute;
}

.jumbotron {
  border-style: solid;
  border-color: chartreuse;
}

.masthead {
  padding-bottom: 10px;
}

.work {
  width: 340px;
  height: 300px;
  margin-bottom: 40px;
}

h3 {
  z-index: 50px;
}

h1 {
  margin-bottom: 10px;
}

body {
  background-color: rgba(87, 133, 97, 0.877)
}

textarea.form-control {
  background-color: chartreuse;
  border-style: solid;
  border-color: rgb(58, 197, 39)
}

.form-control {
  background-color: chartreuse;
  border-style: solid;
  border-color: rgb(58, 197, 39)

}

.title {
  text-align: center;
  background-color: chartreuse;
  border-style: solid;
  border-color: rgb(58, 197, 39)
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
  color: chartreuse;
}

#megawesome {
  position: relative;
  left: 70px;
}
